@model DemoWeb.Models.Employee

@{
    ViewData["Title"] = "Add New Employee";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {

        $('#btnCreate').click(function (e) {
            e.preventDefault(); // Prevent default form submission

            // Get anti-forgery token
            var token = $("input[name='__RequestVerificationToken']").val();

            
             const data = {
                _RequestVerificationToken: token,
                EmployeeName: $('#EmployeeName').val(),
                EmployeeEmail: $('#EmployeeEmail').val(),
                EmployeeAddress: $('#EmployeeAddress').val(),
                EmployeePosition: $('#EmployeePosition').val(),
                DateJoined: $('#DateJoined').val(),
                Password: $('#Password').val(),
                ConfirmPassword: $('#ConfirmPassword').val(),

             };


            // Use the helper function for the AJAX request
            const url = '@Url.Action("Create", "Employee")';
            sendAjaxRequest(url, data, token);
        });
    });
</script>


<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5">
            <form id="createEmployee" class="bg-white p-4 border rounded shadow">
                @Html.AntiForgeryToken()
                <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                <!-- Employee Name -->
                <div class="form-group mb-3">
                    <label asp-for="EmployeeName" class="form-label"></label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa fa-user"></i></span>
                        <input asp-for="EmployeeName" class="form-control" />
                    </div>
                    <span asp-validation-for="EmployeeName" class="text-danger"></span>
                </div>

                <!-- Employee Address -->
                <div class="form-group mb-3">
                    <label asp-for="EmployeeAddress" class="form-label"></label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa fa-map-marker"></i></span>
                        <input asp-for="EmployeeAddress" class="form-control" />
                    </div>
                    <span asp-validation-for="EmployeeAddress" class="text-danger"></span>
                </div>

                <!-- Employee Email -->
                <div class="form-group mb-3">
                    <label asp-for="EmployeeEmail" class="form-label"></label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                        <input asp-for="EmployeeEmail" class="form-control" />
                    </div>
                    <span asp-validation-for="EmployeeEmail" class="text-danger"></span>
                </div>

                <!-- Employee Position -->
                <div class="form-group mb-3">
                    <label asp-for="EmployeePosition" class="form-label"></label>
                    <select asp-for="EmployeePosition" asp-items="Model.PositionList" class="form-select">
                        <option value="">Select Position</option>
                    </select>
                    <span asp-validation-for="EmployeePosition" class="text-danger"></span>
                </div>

                <!-- Date Joined -->
                <div class="form-group mb-3">
                    <label asp-for="DateJoined" class="form-label"></label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                        <input asp-for="DateJoined" class="form-control" asp-format="{0:dd/MM/yyyy}" />
                    </div>
                    <span asp-validation-for="DateJoined" class="text-danger"></span>
                </div>

                <!-- Password -->
                <div class="form-group mb-3">
                    <label asp-for="Password" class="form-label"></label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa fa-lock"></i></span>
                        <input asp-for="Password" type="password" class="form-control" />
                    </div>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="ConfirmPassword" class="form-label"></label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa fa-lock"></i></span>
                        <input asp-for="ConfirmPassword" type="password" class="form-control" />
                    </div>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>

               
                <!-- Submit Button -->
                <div class="d-grid">
                    <input type="button" id="btnCreate" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}