@model IEnumerable<DemoWeb.Models.Employee>

@{
    ViewData["Title"] = "Employee List";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
    // Function to load a specific page of tasks
       function loadTaskPage(page) {
           $.get('@Url.Action("GetTaskList", "Employee")', { page: page }, function (data) {
                  $('#employeeListContainer').html(data);
                 });
          }

     // Load the first page on initial load
       $(document).ready(function () {
           loadTaskPage(1); // Loads the first page initially
          });
</script>

<div class="container mt-4">
    <h2>Task List</h2>
    <div id="employeeListContainer">
       
    </div>
</div>
