@model DemoWeb.Models.Employee

@{
    ViewData["Title"] = "Edit Password";
}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {

        // On clicking the login button
        $('#btnEditPass').click(function (e) {
            e.preventDefault(); // Prevent default form submission

            // Get anti-forgery token
            var token = $("input[name='__RequestVerificationToken']").val();

            // Collect form data, including the RequestVerificationToken
            const data = {
                _RequestVerificationToken: token,
               
                Password: $('#Password').val(),
                ConfirmPassword: $('#ConfirmPassword').val(),

            };


            // Send AJAX request
            $.ajax({
                type: 'POST',
                url: '@Url.Action("EditPassword", "Home")',
                data: data,
                headers: {
                    'RequestVerificationToken': token // Add the token in headers
                }
            })
                .done((data) => {

                    if (data.success) {
                        window.location.href = data.redirectUrl; // Redirect to a new page on success
                    } else {
                        $('.modal-body').text(data.message)

                        $('#exampleModal').modal('show');
                        console.error(data);
                    }
                })
                .fail((err) => {
                    $('.modal-body').text(data.errors.errorMessage);

                    $('#exampleModal').modal('show');
                    console.error(err);
                })
                .always(() => {
                    console.log('always called');
                });
        });
    });
</script>




<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5">
            <form asp-action="Create" method="post" asp-controller="employee" class="bg-white p-4 border rounded shadow">
                <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                <!-- Employee Name -->
                <div class="form-group mb-3">
                    <label asp-for="Password" class="form-label"></label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="lni lni-locked-2"></i></span>
                        <input asp-for="Password" type="password"  class="form-control" />
                    </div>
                    <span asp-validation-for="Password"  class="text-danger"></span>
                </div>

                <!-- Employee Name -->
                <div class="form-group mb-3">
                    <label asp-for="ConfirmPassword" class="form-label"></label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="lni lni-locked-2"></i></span>
                        <input asp-for="ConfirmPassword" type="password"  class="form-control" />
                    </div>
                    <span asp-validation-for="ConfirmPassword"  class="text-danger"></span>
                </div>

                <!-- Submit Button -->
                <div class="d-grid">
                    <input type="button" id="btnEditPass" value="Submit" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}