@model DemoWeb.Models.Employee
@{
	ViewData["Title"] = "Task Management Homepage";
	Layout = "_LoginPage";
}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {

        $('#loginBtn').click(function (e) {
            e.preventDefault(); // Prevent default form submission

            // Get anti-forgery token
			var token = $("input[name='__RequestVerificationToken']").val();

			// Gather form data
			const data = {
				_RequestVerificationToken: token,
				EmployeeEmail: $('#EmployeeEmail').val(),
				Password: $('#Password').val(),
			};

			
            // Use the helper function for the AJAX request
            const url = '@Url.Action("Login", "Home")';
            sendAjaxRequest(url, data, token);
        });
    });
</script>



<div class="wrapper">
	<div class="logo">
		<img src="~/image/homeLogo.png" alt="Logo">
	</div>
	<div class="text-center mt-4 name">
		Task Management System
	</div>

	<!-- Use ASP.NET Core form helpers -->
	<form class="p-3 mt-3">
		 @Html.AntiForgeryToken()
		<!-- Username Field -->
		<div class="form-field  align-items-center">
			<label asp-for="EmployeeEmail" class="sr-only"></label>
			<input asp-for="EmployeeEmail" class="form-control"  placeholder="Email">
			<span asp-validation-for="EmployeeEmail" class="text-danger"></span>
		</div>

		<!-- Password Field -->
		<div class="form-field  align-items-center mt-3">
			<label asp-for="Password" class="sr-only"></label>
			<input asp-for="Password" type="password" class="form-control" placeholder="Password">
			<span asp-validation-for="Password" class="text-danger"></span>
		</div>

		<!-- Submit Button -->
		<button type="button" class="btn mt-3" id="loginBtn">Login</button>

	</form>

	<!-- Forget Password -->
	<div class="text-center fs-6 mt-3">
		<a asp-controller="Home" asp-action="ForgetPassword">Forget Password</a>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}

